{{> head}}



    {{> navbar }}

    <div class="row">
        <Div class="COL-8">
            <H1>ARMAS</H1>
            <p>Terrible arma</p>
        </Div>

        <DIv class="col-4">
            <img src="assets/img/Pistola.jpeg" class="img-thumbnail"
        </DIv>


    </div>

  {{> footer}}
